**Step 3: Analyze NYC Taxi Data with a Spark Pool**

In [3]:
df = spark.read.load(path='abfss://synapsecontainer@gen2storageaccount258.dfs.core.windows.net/Data/NYCTripSmall.parquet', format='parquet')

StatementMeta(Sparkpool1, 0, 3, Finished, Available)

In [ ]:
display(df.limit(10))

**Step 4: Load the NYC Taxi data into the Spark nyctaxi database**

In [5]:
spark.sql("CREATE DATABASE IF NOT EXISTS nyctaxi")
df.write.mode("overwrite").saveAsTable("nyctaxi.trip")

StatementMeta(Sparkpool1, 0, 5, Finished, Available)

In [ ]:
df = spark.sql("SELECT * FROM nyctaxi.trip")
display(df)

**Step 5: Analyze the NYC Taxi data using Spark and notebooks**

In [8]:
spark.sql("DROP TABLE nyctaxi.passengercountstats")

StatementMeta(Sparkpool1, 0, 8, Finished, Available)

DataFrame[]

In [ ]:
df = spark.sql("""
   SELECT passenger_count,
       SUM(trip_distance) as SumTripDistance,
       AVG(trip_distance) as AvgTripDistance
   FROM nyctaxi.trip
   WHERE trip_distance > 0 AND passenger_count > 0
   GROUP BY passenger_count
   ORDER BY passenger_count
""") 

display(df)

df.write.saveAsTable("nyctaxi.passengercountstats")

In [ ]:
df = spark.sql("SELECT * FROM nyctaxi.passengercountstats")
display(df)